
node_modules/
**/node_modules/

dist/
**/dist/
build/
**/build/
out/
**/out/

.env

backend/uploads/*
!backend/uploads/.gitkeep

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
